:host{
  display: flex;
  justify-content: center;
  background: #1b38bd;
  background: -webkit-linear-gradient(to right, #00934E, #67cf43, #fadf1a);
  background: linear-gradient( to right, #00934E, #67cf43, #fadf1a);
}

//background-image: linear-gradient( to right, rgb(149, 214, 154) 50%, rgb(241, 241, 129) );

.example-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .logo-span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
  }

img{
  width: 120px
}

.container-button-enter{
  display: flex;
  justify-content: center;

  button{
    background-color: #00934E !important;
  }
}

.container-buttons{
  display: flex;
  justify-content: space-between;
}

.section-container{
  //margin: 120px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

